server {
    listen 443 ssl;
    server_name {{ fqdn_output.stdout }};
    ssl_certificate /etc/letsencrypt/live/{{ fqdn_output.stdout }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ fqdn_output.stdout }}/privkey.pem;
    ssl_protocols TLSv1.3;
    
    location / {
        if ($http_x_csrf_token != "MySecretValue") {
            return 403;
        }
        proxy_pass https://localhost:8443;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-CSRF-Token $http_x_csrf_token;
    }
}
