# HTTP server block returning 403 Forbidden
server {
    listen 80;
    listen [::]:80;
    server_name {{ lookup('env', 'VM_FQDN') }};

    # Return 403 Forbidden for all HTTP requests
    return 403;
}

# HTTPS server block with custom header authorization and proxy setup
server {
    listen 443 ssl;
    server_name {{ lookup('env', 'VM_FQDN') }};
    ssl_certificate /etc/letsencrypt/live/{{ lookup('env', 'VM_FQDN') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ lookup('env', 'VM_FQDN') }}/privkey.pem;
    ssl_protocols TLSv1.3;

    root /var/www/html;
    index index.html index.htm;
    
    location / {
        if ($http_{{ lookup('env', 'CUSTOM_HEADER_LOWER') }} != "{{ lookup('env', 'CUSTOM_SECRET') }}") {
            return 403;
        }
        proxy_pass {{ lookup('env', 'PROTOCOL') }}://localhost:{{ lookup('env', 'TEAMSERVER_PORT') }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header {{ lookup('env', 'CUSTOM_HEADER') }} $http_{{ lookup('env', 'CUSTOM_HEADER_LOWER') }};
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
