server {
    listen 443 ssl;
    server_name {{ lookup('env', 'VM_FQDN') }};
    ssl_certificate /etc/letsencrypt/live/{{ lookup('env', 'VM_FQDN') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ lookup('env', 'VM_FQDN') }}/privkey.pem;
    ssl_protocols TLSv1.3;

    root /var/www/html;
    index index.html index.htm;
    
    location / {
        if ($http_x_csrf_token != "MySecretValue") {
            return 403;
        }
        proxy_pass https://localhost:8443;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-CSRF-Token $http_x_csrf_token;
    }
}
